tests/log
nbproject
library/Zend
library/ZendX
application/resources
/application/scripts/_data
/application/configs/appkeys.ini
/tmp
/.zfproject.xml
*.bak
public/images
public/captchas
*.orig
/application/forms/Decorator/.LCKCaptcha.php~
/application/forms/Element/.LCKCaptcha.php~
