tests/log
nbproject
library/Zend
library/ZendX
application/resources
/application/sql
/application/scripts/_data
/application/configs/appkeys.ini
/application/configs/mailsmtp.ini
/application/configs/db.ini
/tmp
/.zfproject.xml
*.bak
public/images
public/captchas
public/cached
cache
last_commit.txt
session
*.orig
/application/forms/Decorator/.LCKCaptcha.php~
/application/forms/Element/.LCKCaptcha.php~
