<phpunit bootstrap="./TestHelper.php" colors="true">
    <testsuite name="Houseshare Test Suite">
        <directory>./application</directory>
        <directory>./library</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <directory suffix=".php">../library/Houseshare/</directory>
            <exclude>
                <directory suffix=".phtml">../application/</directory>              
                <directory suffix=".php">../application/views</directory>
                <file>../application/Bootstrap.php</file>               
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverasge-html" target="./log/report" title="PrintConcept" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox" target="./log/testdox.html" />
    </logging>
</phpunit>