/* 
    Document   : grid960.css
    Created on : 20/03/2011, 8:01:04 PM
    Author     : marcin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

