
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_8 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    
    
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
    margin-left: 0 !important;
}

.omega {
    margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 
.grid_1, 
.grid_2, 
.grid_3, 
.grid_4, 
.grid_5, 
.grid_6, 
.grid_7,
.grid_8{
    display:inline;
    float: left;
    position: relative;
    margin-left: 10.0px;
    margin-right: 10.0px;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_8 .grid_1{
    width:100px;
}

.container_8 .grid_2{
    width:220px;
}

.container_8 .grid_3{
    width:340px;
}

.container_8 .grid_4{
    width:460px;
}

.container_8 .grid_5{
    width:580px;
}

.container_8 .grid_6{
    width:700px;
}

.container_8 .grid_7{
    width:820px;
}

.container_8 .grid_8{
    width:940px;
}





/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_8 .prefix_1 {
    padding-left:120px;
}

    .container_8 .prefix_2 {
    padding-left:240px;
}

    .container_8 .prefix_3 {
    padding-left:360px;
}

    .container_8 .prefix_4 {
    padding-left:480px;
}

    .container_8 .prefix_5 {
    padding-left:600px;
}

    .container_8 .prefix_6 {
    padding-left:720px;
}

    .container_8 .prefix_7 {
    padding-left:840px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_8 .suffix_1 {
    padding-right:120px;
}

    .container_8 .suffix_2 {
    padding-right:240px;
}

    .container_8 .suffix_3 {
    padding-right:360px;
}

    .container_8 .suffix_4 {
    padding-right:480px;
}

    .container_8 .suffix_5 {
    padding-right:600px;
}

    .container_8 .suffix_6 {
    padding-right:720px;
}

    .container_8 .suffix_7 {
    padding-right:840px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_8 .push_1 {
    left:120px;
}

    .container_8 .push_2 {
    left:240px;
}

    .container_8 .push_3 {
    left:360px;
}

    .container_8 .push_4 {
    left:480px;
}

    .container_8 .push_5 {
    left:600px;
}

    .container_8 .push_6 {
    left:720px;
}

    .container_8 .push_7 {
    left:840px;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_8 .pull_1 {
    right:120px;
}

    .container_8 .pull_2 {
    right:240px;
}

    .container_8 .pull_3 {
    right:360px;
}

    .container_8 .pull_4 {
    right:480px;
}

    .container_8 .pull_5 {
    right:600px;
}

    .container_8 .pull_6 {
    right:720px;
}

    .container_8 .pull_7 {
    right:840px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}