/* 
    Document   : layout
    Created on : 06/11/2010, 12:04:00 AM
    Author     : marcin
    Description:
        Purpose of the stylesheet follows.
*/

/*    
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body {
    font-size: 10px;

    font-family: Arial,Helvetica,sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
p {
    padding: .5em;
    font-size: 1.2em;

}

.navigation ul {
    display: inline;   
    
}

.navigation li {
    display: inline;

}

.tipped {
    color: #BBB;
}

#slider {
    width: 180px;
}
#pageWrapper { 
    
    width: 960px;
    margin: auto;
    
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #0065a5;
}

/* HEADER */
#header { 
    height: 50px;  
    background-color: #d4e7f6;
    padding-top: 8px;
       border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #73c8ff;
    
}

#header h1, #header h2 {
   
    padding-left: 20px;
    width:200px;
    float:left;
}
#header  a:visited, #header a:active, #header a:hover, #header a:link {
    
    text-decoration: none;
    color: #010101;
}

#header h2 {
    font-size: 12px;
}


#login {
    
    float: right;    
    font-weight: bold;
    padding-right: 10px;
    font-size: 12px;
}
#login span {
    
    color: #84bffe;
}
#login a, #login a:visited, #login a:active, #login a:hover {
   
    text-decoration: none;
    color: #007cff;
}

#nav {
   
    height: 2.5em;
    margin: 0 0 .5em 0;
}


#main {
    background: #fff;
    /* height: 41em; */
    margin: 0 0 .5em 0;
   
}


/* welcome area */ 

#welcome {    
    background-color: #eaf6fe;
    padding-bottom: 10px;
    height:120px;
}

.left-area {
   width:50%;
   padding-left: 10px;
   float:left;
   position: relative;
   
}



#footer {
    clear: both;
 
    height: 2.5em;
    margin: 0;
    background-color: #c5d7e3;
    color: #595959;
}

fieldset {
    
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ff7500;
}

fieldset  legend {
    
    font-size: 14px;
    font-weight: bolder;
}

ul.errors {    
    color: #ff0000;
}

/* ---------->>> recent advters <<<---------------------------------------------------------------*/


#resent-adverts {
    padding-top: 10px;
    width: 735px;
}

#resent-adverts th {
    
    text-align: left;
    font-size: 14px;
}

#resent-adverts td {
    
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

img.thumb {
    float: left;
}
h1.advert-title  {
    padding-left: 105px;
    font-size:16px;
}
h1.advert-title a {  
    
    text-decoration: none;
    color: #fd5416;
}
div.advert-info {
    padding-left: 105px;
}

div.advert-info div  {
    font-size: 12px;
}

div.advert-info dt, div.advert-info dd  {
     font-size: 12px;
    display: inline;   
}
div.advert-info dt {
    
    font-weight: bold;
}

/* ---------->>> jtip <<<---------------------------------------------------------------*/


.formInfo a, .formInfo a:active, formInfo a:visited{
    background-color:#acbdff;
    font-size: 1.3em;
    font-weight:bold;
    padding:1px 2px;
    margin-left:5px;
    color:#FFFFFF;
    text-decoration: none;
}

.formInfo a:hover{
    color:#660000;
    text-decoration: none;
}

#JT_arrow_left{
    background-image: url(../images/arrow_left.gif);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    left:-12px;
    height:23px;
    width:10px;
    top:-3px;
}

#JT_arrow_right{
    background-image: url(../images/arrow_right.gif);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    height:23px;
    width:11px;
    top:-2px;
}

#JT {
    position: absolute;
    z-index:100;
    border: 2px solid #CCCCCC;
    background-color: #fff;
}

#JT_copy{
    padding:10px 10px 10px 10px;
    color:#333333;
}

.JT_loader{
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:12px;
}

#JT_close_left{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_close_right{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_copy p{
    margin:3px 0;
}

#JT_copy img{
    padding: 1px;
    border: 1px solid #CCCCCC;
}

.jTip{
    cursor:help;
}