/* 
    Document   : layout
    Created on : 06/11/2010, 12:04:00 AM
    Author     : marcin
    Description:
        Purpose of the stylesheet follows.
*/

/*    
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body {
    font-size: 10px;
  
}
* {
    margin: 0;
    padding: 0;
}
p {
    padding: .5em;
    font-size: 1.2em;
   
}
#pageWrapper {
    background: #999;
    width: 79em;
    margin: 1em auto;
    padding: .5em;
}
#header {
    background: url("../gfx/top.jpg") no-repeat scroll 0 0 transparent;
    height: 13.5em;
    margin: 0 0 .5em 0;
}


#nav {
    background: #fff;
    height: 2.5em;
    margin: 0 0 .5em 0;
}
#sidebar {
    background: #ccc;
    float: right;
    width: 17em;
    height: 40em;
    margin: 0 0 .5em .5em;
    padding: .5em;
}
#main {
    background: #fff;
   /* height: 41em; */
    margin: 0 0 .5em 0;
}
#subNav,#adminMenu,#userForm {
    background: #fff;
    width: 17em;
    height: 10em;
    margin: 0 0 .5em 0;
}
#footer {
    clear: both;
    background: #fff;
    height: 2.5em;
    margin: 0;
}

dl.listing-preview dt, dl.listing-preview dd  {
    display: inline;
    font-family: Georgia,'Times New Roman',times,serif;
}
dt.listing-preview-title {    
    font-size: 12px;
    color: #024ad4;
}
