/* 
    Document   : layout
    Created on : 06/11/2010, 12:04:00 AM
    Author     : marcin
    Description:
        Purpose of the stylesheet follows.
*/

/*    
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


body {
    font-size: 10px;

    font-family: Arial,Helvetica,sans-serif;
}
* {
    margin: 0;
    padding: 0;
}



.tipped {
    color: #BBB;
}

#slider {
    width: 180px;
}
div.side-bar {    
    padding-top: 10px;
    font-size: 12px;   
}
div.side-bar li {
    list-style-type: none;
}

/* MAIN FORM */

div#welcome form {
    padding-top:10px;
}

#main-search-form dd, #main-search-form dt {
    font-size: 16px;
    width: 120px;
    display: inline;
}

 #i_city-element, #submit-element {
     position: relative;
    font-size: 18px;   
    bottom:10px;   
    left: 10px;
}

#i_city  {    
    font-size: 24px;
    border: 0px;
    width: 300px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #a9d1fe;
    border-left-color: #a9d1fe;
    border-bottom-color: #a9d1fe;
    border-top-color: #a9d1fe;
}

#main-search-form #submit {
    higth:100px;
}

/* HEADER */
#header { 
    height: 60px;  
    background-color: #d4e7f6;
    padding-top: 8px;
       border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #027cc0;
    
}

#header h1, #header h2 {
   
    padding-left: 20px;
    width:200px;
    float:left;
   
}
 #header h2 {
      font-style: italic;
     font-weight: normal;
}
#header  a:visited, #header a:active, #header a:hover, #header a:link {
    
    text-decoration: none;
    color: #010101;
}

#header h2 {
    font-size: 12px;
}


#login {
    
    float: right;    
    font-weight: bold;
    padding-right: 10px;
    font-size: 12px;
}
#login span {
    
    color: #84bffe;
}
#login a, #login a:visited, #login a:active, #login a:hover {
   
    text-decoration: none;
    color: #007cff;
}

img {
    border: 0px;
}



fieldset {
    
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ff7500;
}

fieldset  legend {
    
    font-size: 14px;
    font-weight: bolder;
}

ul.errors {    
    color: #ff0000;
}


/* ---------->>> recent advters <<<---------------------------------------------------------------*/


#resent-adverts {
    padding-top: 10px;
 
}

#resent-adverts th {
    
    text-align: left;
    font-size: 14px;
}

#resent-adverts td {
    
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

img.thumb {
    float: left;
}
h1.advert-title  {
    padding-left: 120px;
    font-size:16px;
}
h1.advert-title a {  
    
    text-decoration: none;
    color: #fd5416;
}
div.advert-info {
    padding-left: 120px;
}

dl.advert-stats {
    
    color: #afafaf;
}

div.advert-info div  {
    font-size: 12px;
}

div.advert-info dt, div.advert-info dd  {
     font-size: 12px;
    display: inline;   
}
div.advert-info dt {
    
    font-weight: bold;
}

/* --------------- ACCOMMODATION DETIALS ***************** */

#acc-details h1 {
    
    font-size: 18px;
    color: #dd7601;
}

#acc-details p {
    font-size: 12px;
    text-align: justify;
}

dl.basic-info {
    padding-top: 10px;
}

dl.basic-info dt, dl.basic-info dd {
    display: inline;
    font-size: 14px;
}

dl.basic-info dt {
    
    color: #dd7601;
    font-weight: bold;
}

div.section {
    
    padding-top: 10px;
}

div.section h1 {
    font-size: 14px;
    
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #bd3d00;
}

/* ---------->>> jtip <<<---------------------------------------------------------------*/


.formInfo a, .formInfo a:active, formInfo a:visited{
    background-color:#acbdff;
    font-size: 1.3em;
    font-weight:bold;
    padding:1px 2px;
    margin-left:2px;
    color:#FFFFFF;
    text-decoration: none;
}

.formInfo a:hover{
    color:#660000;
    text-decoration: none;
}

#JT_arrow_left{
    background-image: url(../images/arrow_left.gif);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    left:-12px;
    height:23px;
    width:10px;
    top:-3px;
}

#JT_arrow_right{
    background-image: url(../images/arrow_right.gif);
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index:101;
    height:23px;
    width:11px;
    top:-2px;
}

#JT {
    position: absolute;
    z-index:100;
    border: 2px solid #CCCCCC;
    background-color: #fff;
}

#JT_copy{
    padding:10px 10px 10px 10px;
    color:#333333;
}

.JT_loader{
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    width:100%;
    height:12px;
}

#JT_close_left{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_close_right{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight:bold;
}

#JT_copy p{
    margin:3px 0;
}

#JT_copy img{
    padding: 1px;
    border: 1px solid #CCCCCC;
}

.jTip{
    cursor:help;
}