SetEnv APPLICATION_ENV development

AddDefaultCharset Off

RewriteEngine On

RewriteCond %{REQUEST_METHOD} GET 
RewriteCond %{DOCUMENT_ROOT}/sharehouse/public/cached/%{REQUEST_URI}\.html -f 
RewriteRule .* cached/%{REQUEST_URI}\.html [L] 

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

